<style>
    /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.body{
/* display: flex;
flex-direction: column; */
padding: 0 35px;
/* min-height: 100vh; */
align-items: center;
justify-content: center;
background: black;
}
.wrapper{
display: flex;
max-width: 1200px;
position: relative;
margin-top: 30px;
}
.wrapper i{
top: 50%;
height: 44px;
width: 44px;
color: #343F4F;
cursor: pointer;
font-size: 1.15rem;
position: absolute;
text-align: center;
line-height: 44px;
background: #fff;
border-radius: 50%;
transform: translateY(-50%);
transition: transform 0.1s linear;
}
.wrapper i:active{
transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
background: #f2f2f2;
}
.wrapper i:first-child{
left: -22px;
display: none;
}
.wrapper i:last-child{
right: -22px;
}
.wrapper .carousel{
font-size: 0px;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
scroll-behavior: smooth;
}
.carousel.dragging{
cursor: grab;
scroll-behavior: auto;
}
.carousel.dragging img{
pointer-events: none;
}
.carousel img{
height: 300px;
object-fit: fill;
user-select: none;
margin-left: 14px;
width: calc(100% / 3);
}
.carousel img:first-child{
margin-left: 0px;
}

@media screen and (max-width: 900px) {
.carousel img{
  width: calc(100% / 2);
}
}

@media screen and (max-width: 550px) {
.carousel img{
  width: 100%;
}
}
.main{
margin-top: 50px;
margin-left: 60px;
}
  </style>
</head>
  <div class="main">
    <h4 style="color: #fff; margin-left:40px;">Drama Movies</h4>

    <div class="body">
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <div class="carousel">
        <% for(let movie of use.drama){%>
          <img src="<%= movie.image%>" class="card-img-top" alt="..."  draggable="false">
          <%}%>
      </div>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
  </div>
  
  <script src="/js/script.js" defer></script>
